<a href="https://colab.research.google.com/github/iamcbn/Hamoye/blob/Stage-B/Stage%20B%20codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/iamcbn/Hamoye/Stage-B/energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

In [4]:
# Extract features (T2) and target variable (T6)
X1 = df[['T2']]
y1 = df['T6']

# Split the data into training and testing sets
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=42)

# Create and train a linear regression model
model = LinearRegression()
model.fit(X1_train, y1_train)

# Make predictions on the testing set
y1_pred = model.predict(X1_test)

# Calculate the Root Mean Squared Error (RMSE)
rmse1 = np.sqrt(mean_squared_error(y1_test, y1_pred))

# Print the RMSE rounded to three decimal places
print("Root Mean Squared Error (RMSE): {:.3f}".format(rmse1))

Root Mean Squared Error (RMSE): 3.633

Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:

What is the Mean Absolute Error (in three decimal places) for the  training set?

In [5]:
# Remove columns 'date' and 'lights'
df2 = df.drop(columns=['date', 'lights'])

# Define features (X) and target variable (y)
X = df2.drop(columns=['Appliances'])
y = df2['Appliances']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Normalize the dataset using MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create and train a multiple linear regression model
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test_scaled)

# Calculate the Mean Absolute Error (MAE) for the training set
mae_train = mean_absolute_error(y_test, y_pred)

# Print the MAE rounded to three decimal places
print(f"Mean Absolute Error (MAE) for the training set: {round(mae_train, 3)}")

Mean Absolute Error (MAE) for the training set: 53.643

What is the Root Mean Squared Error (in three decimal places) for the training set?

In [6]:
# Making prediction on the training data
y_pred_train = model.predict(X_train_scaled)

# Calculate the Root Mean Squared Error (RMSE)
rmse = np.sqrt(mean_squared_error(y_train, y_pred_train))

# Print the RMSE rounded to three decimal places
print("Root Mean Squared Error (RMSE): {:.3f}".format(rmse))

Root Mean Squared Error (RMSE): 95.216


What is the Mean Absolute Error (in three decimal places) for test set?

In [7]:
# Calculate the Mean Absolute Error (MAE) for the test set
mae_test = mean_absolute_error(y_test, y_pred)

# Print the MAE rounded to three decimal places
print("Mean Absolute Error (MAE) for the test set: {:.3f}".format(mae_test))

Mean Absolute Error (MAE) for the test set: 53.643

What is the Root Mean Squared Error (in three decimal places) for test set?

In [8]:
# Calculate the Mean Squared Error (MSE) for the test set
mse_test = mean_squared_error(y_test, y_pred)

# Calculate the Root Mean Squared Error (RMSE) for the test set
rmse_test = np.sqrt(mse_test)

# Print the RMSE rounded to three decimal places
print("Root Mean Squared Error (RMSE) for the test set: {:.3f}".format(rmse_test))

Root Mean Squared Error (RMSE) for the test set: 93.640


Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [9]:
# Train Ridge regression model with default parameters
ridge_model = Ridge()
ridge_model.fit(X_train, y_train)

# Predict on the test set
y_pred_test_ridge = ridge_model.predict(X_test)

# Calculate the Mean Squared Error (MSE) for the test set
mse_test_ridge = mean_squared_error(y_test, y_pred_test_ridge)

# Calculate the Root Mean Squared Error (RMSE) for the test set
rmse_test_ridge = np.sqrt(mse_test_ridge)

# Print the RMSE for the Ridge regression model
print("RMSE for Ridge regression model on the test set: {:.3f}".format(rmse_test_ridge))

RMSE for Ridge regression model on the test set: 93.641

Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [10]:
# Train Lasso regression model with default parameters
lasso_model = Lasso()
lasso_model.fit(X_train, y_train)

# Get the feature weights (coefficients) from the trained model
feature_weights = lasso_model.coef_

# Count the number of features with non-zero feature weights
non_zero_features = np.sum(feature_weights != 0)

# Print the number of features with non-zero feature weights
print("Number of features with non-zero feature weights:", non_zero_features)

Number of features with non-zero feature weights: 21

What is the new RMSE with the Lasso Regression on the test set?

In [11]:
# Predict the target variable for the test set
y_pred_test = lasso_model.predict(X_test)

# Calculate the Mean Squared Error (MSE) for the test set
mse_test = mean_squared_error(y_test, y_pred_test)

# Calculate the RMSE for the test set
rmse_test = np.sqrt(mse_test)

# Print the RMSE for the test set
print("RMSE for the test set with Lasso Regression:", round(rmse_test, 3))

RMSE for the test set with Lasso Regression: 93.892